@import '../../main.scss';

.quick-actions {
  .actions-list {
    display: flex;
    flex-direction: column;
    gap: $spacing-3;

    .action-btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $spacing-3;
      border: 1px solid;
      border-radius: $border-radius-lg;
      background: transparent;
      cursor: pointer;
      transition: all 0.15s ease;
      text-decoration: none;
      font-weight: 500;

      &.primary {
        border-color: $color-green-primary;
        color: $color-green-primary;

        &:hover {
          background-color: $color-green-primary;
          color: $color-white;
        }
      }

      &.success {
        border-color: $color-success;
        color: $color-success;

        &:hover {
          background-color: $color-success;
          color: $color-white;
        }
      }

      &.warning {
        border-color: $color-warning;
        color: $color-warning;

        &:hover {
          background-color: $color-warning;
          color: $color-gray-900;
        }
      }

      &.secondary {
        border-color: $color-gray-300;
        color: $color-gray-700;

        &:hover {
          background-color: $color-gray-100;
        }
      }

      .action-icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}