.conveniosContainer {
  padding: 2rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
}

.conveniosTable {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;

  th, td {
    padding: 0.75rem 1rem;
    border: 1px solid #ddd;
    text-align: center;
  }

  th {
    background-color: #f0f0f0;
    font-weight: 600;
    border-bottom: 2px solid #ccc;
  }

  thead tr:first-child th{
    background-color: #e0e0e0;
    text-align: center;
    font-size: 1rem;
  }

  thead tr:nth-child(2) th{
    background-color: #f9f9f9;
    font-weight: 500;
    font-size: 0.95rem;
  }

  td {
    font-size: 0.95rem;
  }
}
