@import '../../styles/main.scss';

.loading-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-6;
  gap: $spacing-4;

  .loading-spinner {
    position: relative;
    display: inline-block;

    &.sm {
      width: 32px;
      height: 32px;
    }

    &.md {
      width: 48px;
      height: 48px;
    }

    &.lg {
      width: 64px;
      height: 64px;
    }

    .spinner-ring {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 3px solid transparent;
      border-top-color: $color-green-primary;
      border-radius: 50%;
      animation: spin 1s linear infinite;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 0.15s;
        border-top-color: $color-green-dark;
        width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
      }

      &:nth-child(3) {
        animation-delay: 0.3s;
        border-top-color: $color-yellow-primary;
        width: 60%;
        height: 60%;
        top: 20%;
        left: 20%;
      }

      &:nth-child(4) {
        animation-delay: 0.45s;
        border-top-color: $color-yellow-dark;
        width: 40%;
        height: 40%;
        top: 30%;
        left: 30%;
      }
    }
  }

  .loading-message {
    font-size: $font-size-sm;
    color: $color-gray-600;
    margin: 0;
    font-weight: 500;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Variante para tablas
.loading-spinner-container.table-loading {
  padding: $spacing-8;
  min-height: 200px;
}

// Variante para listas
.loading-spinner-container.list-loading {
  padding: $spacing-6;
  min-height: 150px;
}

